* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: -5px;
  overflow-x: hidden;
}

/* Navbar */
.icono-mobile-navbar {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}
.boton-inicio {
  color: #adcd00 !important;
}
@media screen and (max-width: 768px) {
  .logo-navbar {
    font-size: 25px;
    padding-left: 20px;
  }
  .contenedor-logo-nav ul li a {
    font-size: 14px;
  }
  .logo-navbar img {
    width: 40% !important;
  }
}

.logo-navbar img {
  width: 10%;
}

@media screen and (max-width: 858px) {
  .icono-mobile-navbar {
    display: block;
  }
  .contenedor-logo-nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    top: 60px;
    left: -100%;
    text-align: center;
    color: black !important;
    transition: all 0.5s;
    background-color: #464749;
    z-index: 1;
  }
  .contenedor-logo-nav ul li {
    display: block !important;
    margin: 20px 0;
    line-height: 20px;
  }
  .contenedor-logo-nav ul li a {
    font-size: 16px;
    padding: 7px 10px;
  }
  .contenedor-logo-nav a:hover {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
    top: 60px;
  }
}

/* Additional responsive adjustments */
@media screen and (max-width: 480px) {
  .logo-navbar {
    font-size: 20px;
    padding-left: 10px;
  }
  .contenedor-logo-nav ul li a {
    font-size: 14px;
  }
  .contenedor-de-li-navbar li {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .icono-mobile-navbar {
    font-size: 25px;
    margin-right: 20px;
  }
}

.contenedor-logo-nav {
  background: #e2e2e2;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin: 0;
  top: 0px;
}
.logo-navbar {
  color: #adcd00;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .logo-navbar {
    padding: 0 25px;
    line-height: 59px;
  }
}
.contenedor-logo-nav ul {
  float: right;
  margin-right: 20px;
}

.contenedor-logo-nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.contenedor-logo-nav ul li a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px 15px;
}

.contenedor-de-li-navbar a:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.contenedor-h1-seo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 1400px;
  margin: 50px;
}

@media screen and (max-width: 768px) {
  .contenedor-h1-seo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    margin: 50px;
    position: relative;
    left: -125px;
  }
  .contenedor-h1-seo h1 {
    font-size: 20px !important;
    font-weight: 700;
    position: relative;
    top: 20px;
  }
}

.contenedor-h1-seo h1 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  left: 38px;
  font-style: italic;
}

.contenedor-imagenes-home img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contenedor-imagenes-home img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 61px;
  }
}

.contenedor-de-li-navbar li {
  color: black;
}
@media screen and (max-width: 768px) {
  .contenedor-de-li-navbar li {
    color: transparent;
  }
}
/* Banner home */
.contenedor-imagenes-home {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease;
}

.carrusel-item {
  flex: 0 0 100%;
}

.botones-carrusel-home {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border-color: black;
}

.contenedor-botones-carrusel-home {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -300px;
}
@media screen and (max-width: 768px) {
  .contenedor-botones-carrusel-home {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -96px;
    z-index: 2;
  }
  .botones-carrusel-home {
    width: 30px;
    height: 30px;
  }
}
/* Boton de whatsapp */

.container-boton-whatsapp img {
  width: 40%;
  position: relative;
  left: 40px;
}

@media screen and (max-width: 768px) {
  .container-boton-whatsapp img {
    width: 24px;
    position: relative;
    left: 38px;
    top: 3px;
  }
  .container-boton-whatsapp {
    position: fixed;
    top: 520px !important;
    left: 78% !important;
    z-index: 9999;
    width: 93px !important;
    display: flex;
    background-color: rgb(44, 164, 28);
    border-radius: 15px;
    height: 14vw;
  }
  .container-boton-whatsapp p {
    display: flex;
    position: relative;
    left: 6px !important;
    color: white;
    font-size: 14px !important;
    top: -7px;
  }
  .container-boton-whatsapp span {
    display: flex;
    position: relative;
    left: 22px !important;
    color: white;
    font-size: 14px !important;
    top: -4px;
  }
  #contenedor-telefono {
    top: 454px !important;
  }
}

@media screen and (max-width: 400px) {
  .container-boton-whatsapp {
    position: fixed;
    top: 520px !important;
    left: 69% !important;
    z-index: 9999;
    width: 93px !important;
    display: flex;
    background-color: rgb(44, 164, 28);
    border-radius: 15px;
    height: 14vw;
  }
  #contenedor-telefono {
    top: 464px !important;
  }
}
.container-boton-whatsapp {
  position: fixed;
  top: 600px;
  left: 92%;
  z-index: 9999;
  display: flex;
  background-color: #2ca41c;
  border-radius: 15px;
}
.container-boton-whatsapp p {
  display: flex;
  position: relative;
  left: 17px;
  color: white;
  top: -7px;
}
.container-boton-whatsapp span {
  display: flex;
  position: relative;
  left: 32px;
  color: white;
  top: -7px;
}
.container-boton-whatsapp:hover {
  transform: scale(1.1);
}
#contenedor-telefono {
  top: 510px;
}
/* Contedor textos descriptibos debajo del carrusel */

.contenedor-completo-imagen-y-texto-especializados {
  background-color: #7d7c7c !important;
  height: 530px;
  position: relative;
  top: -60px;
  margin-bottom: -70px;
}
@media screen and (max-width: 768px) {
  .contenedor-completo-imagen-y-texto-especializados {
    height: 718px;
  }
}
.contedor-texto-somos-especializados {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.contedor-texto-somos-especializados h2 {
  color: #adcd00 !important;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 800;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .contedor-texto-somos-especializados h2 {
    color: #adcd00 !important;
    font-size: 18px;
    margin-top: 68px;
    margin-bottom: 20px;
    font-weight: 800;
    font-style: italic;
  }
  .contedor-texto-somos-especializados p {
    font-size: 15px !important;
    margin: 10px;
    color: white;
    font-weight: 600;
  }
}
.contedor-texto-somos-especializados p {
  font-size: 20px;
  margin: 10px;
  color: white;
  font-weight: 600;
}

/*quienes somos*/

.contendor-img-texto-especializado {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .contendor-img-texto-especializado {
    flex-direction: column;
  }
  .contendor-img-texto-especializado img {
    width: 60% !important;
    margin-bottom: 20px !important;
  }
}
.contendor-img-texto-especializado img {
  width: 30%;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgb(120, 118, 118),
    -15px -15px 30px rgb(81, 77, 77);
}

.texto-sobre-nosotros {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 30px;
}
.texto-sobre-nosotros h3 {
  color: #adcd00 !important;
  font-size: 25px;
  margin-bottom: 11px;
  font-weight: 700;
  position: absolute;
  left: 894px;
  top: 208px;
  /* margin-bottom: 39px !important; */
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .texto-sobre-nosotros h3 {
    color: #adcd00 !important;
    font-size: 25px;
    margin-bottom: 11px;
    font-weight: 700;
    position: sticky;
    left: 60vw;
    top: 193px;
  }
}
.texto-sobre-nosotros span {
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .texto-sobre-nosotros span {
    color: white;
    width: 309px;
    font-size: 11px;
    position: absolute;
    left: 55px;
    margin-top: 50px;
    /* margin-bottom: 21px; */
  }
  .texto-sobre-nosotros {
    width: 400px;
  }
  .texto-sobre-nosotros h3 {
    top: 476px !important;
    left: 110px !important;
  }
}
@media screen and (max-width: 322px) {
  .texto-sobre-nosotros span {
    color: white;
    width: 309px;
    font-size: 11px;
    position: absolute;
    left: 8px;
    margin-top: 50px;
  }
  .boton-whatsapp-contacto {
    position: absolute;
    left: 37px !important;
    top: -30px;
  }
  .texto-sobre-nosotros h3 {
    top: 476px !important;
    left: 77px !important;
  }
}
@media (max-width: 380px) and (min-width: 330px) {
  .texto-sobre-nosotros span {
    color: white;
    width: 309px;
    font-size: 11px;
    position: absolute;
    left: 28px !important;
    margin-top: 50px;
  }
  .boton-whatsapp-contacto {
    position: absolute;
    left: -1px !important;
    top: -30px;
  }
  .texto-sobre-nosotros h3 {
    top: 476px !important;
    left: 90px !important;
  }
}
/*Boton contactenos*/
.boton-whatsapp-contacto {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #adcd00;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  cursor: pointer;
  z-index: 99;
  margin-top: 20px;
}
.boton-whatsapp-contacto a {
  color: #adcd00;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .boton-whatsapp-contacto {
    position: absolute;
    left: -45px;
    top: -30px;
  }
}

.boton-whatsapp-contacto a:hover {
  color: white !important;
}

.boton-whatsapp-contacto::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #adcd00;
  z-index: -1;
  transition: all 1s;
  color: white;
}

.boton-whatsapp-contacto:hover::before {
  width: 160%;
}

/*Seccion agenda tu cita*/
.titulo-subtitulo-agenda-cita {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: 000;
  margin-bottom: 30px;
}

.titulo-subtitulo-agenda-cita h2 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
}

.titulo-subtitulo-agenda-cita h3 {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.contenedor-imagenes-textos-agenda-cita {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.contenedor-imagenes-textos-agenda-cita img {
  width: 50%;
  margin-bottom: 20px;
}

.contenedor-imagenes-textos-agenda-cita p {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.contenedor-imagenes-textos-agenda-cita h3 {
  color: #adcd00;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}
.ultima-seccion-home-agenda-cita {
  background-color: fff;
}

@media screen and (max-width: 1080px) {
  .contenedor-imagenes-textos-agenda-cita {
    display: flex;
    flex-direction: column !important;
  }
  .contenedor-imagenes-textos-agenda-cita p {
    margin-bottom: 20px !important;
  }
}

/*Servicios*/
.contenedor-servicios-haceb h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 80px;
  font-weight: 700;
  font-size: 25px;
  font-style: italic;
  color: #4f4f4f;
}

.contenedor-imagenes-textos-sevicios-primero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.contenedor-imagenes-textos-sevicios-primero p {
  font-size: 18pt;
  font-weight: 700;
  color: #605f5f;
  margin-bottom: 20px;
}

.contenedor-imagenes-textos-sevicios-primero img {
  width: 60%;
  border: solid 1px;
  border-color: grey;
  border-radius: 27px;
  box-shadow: inset 0 38em 12em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 229, 90),
    -0.7em 1.3em 2em rgba(0, 0, 0, 0.3);
}

#estufa-cambio-tamaño img {
  width: 95%;
}

#cambio-posicion-izquierda-primera-seccion {
  position: relative;
  left: -50px;
}
@media screen and (max-width: 768px) {
  #cambio-posicion-izquierda-primera-seccion {
    position: relative;
    left: -2px;
  }
  #estufa-cambio-tamaño img {
    width: 66%;
  }
  .contenedor-imagenes-textos-sevicios-primero img {
    width: 70%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-imagenes-textos-sevicios-primero {
    display: flex;
    flex-direction: column;
  }
}
#separador-servicios-cita {
  margin-bottom: 60px;
}

.boton-agenda-cita-whatsapp {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.boton-agenda-cita-whatsapp button {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid rgb(71, 197, 29);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  border-radius: 20px;
}
.boton-agenda-cita-whatsapp button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: 3px solid rgb(71, 197, 29);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.boton-agenda-cita-whatsapp button:hover::before {
  transform: translateX(0);
}
.boton-agenda-cita-whatsapp a {
  text-decoration: none;
  color: black;
}

.contenedor-contactenos-agenda-cita img {
  width: 100%;
}

/*Requieres, instalacion, ayuda*/
.contenedor-necesitas-quieres-instalacion {
  display: flex;
  justify-content: space-around;
  background-color: #e4e3e3;
}
.contenedor-necesitas-quieres-instalacion img {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .contenedor-necesitas-quieres-instalacion img {
    width: 100%;
  }
  .contenedor-necesitas-quieres-instalacion {
    display: flex;
    flex-direction: column;
  }
}
